# Byte-compiled / caches
__pycache__/
*.py[cod]
*.so
*.egg-info/

# Virtual environments
.venv/
env/
venv/

# Editor dirs
.vscode/
.idea/

# Tests caches
.pytest_cache/

# macOS
.DS_Store
